/* CodeExplanation.css */

.code-explanation-container {
  display: flex;
  align-items: center;
  margin: 20px;
}

.code-window {
  flex: 1;
  background-color: #282c34; /* Dark background */
  color: #cccccc; /* Text color */
  height: 350px;
  overflow-y: auto;
  border-radius: 5px;
  font-size: 13px;
  padding: 10px;
}

.code-line {
  display: block; /* Change from inline to block */
  padding: 5px;
  cursor: pointer;
  border-radius: 5px;
  margin-bottom: 5px;
  width: 110%; /* Add this line */
}

.code-line:hover:not(.selected) {
  background-color: #007bff0a;
}

.selected {
  background-color: #007bff79;
  color: #fff;
  font-weight: bold;
}

.button-container {
  display: flex;
  flex-direction: column;
  margin: 0 20px;
}

.nav-button {
  padding: 8px 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 20px;
}

.nav-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.explanation-window {
  flex: 1;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
  height: 300px;
}

.explanation-window h3 {
  margin-top: 0;
}

.line-number {
  display: inline-block;
  color: #ff69b4; /* Pink color */
  text-align: right;
  margin-right: 10px; /* Adjust margin as needed */
}

.nav-icon {
  font-weight: bold;
}
