/* LeftDrawer.css */
.left-drawer {
  width: 250px;
  height: 100%;
  background-color: #333;
  color: #fff;
  position: fixed;
  left: 0;
  font-size: medium;
  overflow-y: auto;
}


.left-drawer ul {
  list-style-type: none;
  padding: 0;
  padding-bottom: 90px;

}

.left-drawer li {
  padding: 1px;
  border-radius: 5px;
  margin-left: 10px;
  margin-right: 10px;
}

.left-drawer button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
  color: #fff;
  display: block;
  width: 100%;
  text-align: left;
  transition: all 0.1s ease; /* Add transition effect */
  font-size: medium;
  font-family: "montserrat";
  text-transform: capitalize; /* Make first letter of each word uppercase */
}

.left-drawer button:focus {
  outline: none;
}

.left-drawer button:hover {
  background-color: #6e6e6e;
  border-left: 3px solid white; /* Add left border on hover */
}

.left-drawer button.active {
  background-color: #007bff;
  border-left: 3px solid #fff; /* Add left border when active */
}
