.text-container{
  margin-left: 250px;
  padding: 20px;
  margin-bottom: 70px;
}

.navigation-buttons {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between; /* Align buttons to the left */
  padding: 15px 30px; /* Adjust padding as needed */
  background-color: #555; /* Set background color */

}

.next{
  margin-right: 70px;
  background-color: #007bff;
}

.back{
  background-color: gray;
}

.navigation-buttons button {
  padding: 10px 20px;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.back:hover {
  background-color: #ffffffa8;
}

.next:hover {
  background-color: #0167d4;
}

.navigation-buttons button:disabled {
  background-color: #999;
  cursor: not-allowed;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.page {
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #ccc; /* Gray color for the bottom line */

  margin-left: 30px;
  margin-right: 30px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
